@primary: #F88600;
@secondary: #FFAF01;
@tertiary: #FFCC01;
@contrast: darken(#59c2ff, 10%);
@gray: #404040;
@editor: #78909C;
@editorText: #FFEEC8;

* {
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', 'Helvetica', 'sans-serif';
  font-size: 100%;
  color: @gray;
}
body {
  font-size: 1rem;
  background: #FAFAFA;
  margin: 0;
  padding-bottom: 2rem;
}
.container {
  display: flex;
  align-items: flex-start;
}
button {
  border: solid 1px @contrast;
  background: @contrast;
  color: white;
  padding: .5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Raleway', 'Helvetica', 'sans-serif';
  width: 8rem;
}
button.active {
  background: @tertiary;
  border-color: @tertiary;
  color: @gray;
}

nav, main, footer {
  padding: 0 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  a[rel=license] img {
    border: 0;
    width: 80px;
    height: 15px;
  }
}

.notes {
  display: none;
}

.side-nav {
  width: 25%;
  nav {
    margin: 1rem;
    padding: 0;
    background: white;
    box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .1);
    button {
      display: block;
      width: 100%;
      border-radius: 0;
      text-align: left;
      background: none;
      border: none;
      color: @gray;
      cursor: pointer;
      padding: 1rem;
      border-bottom: solid 1px white;
    }
    button.active {
      background: @tertiary;
      border-color: @tertiary;
    }
    i {
      float: right;
    }
    ul {
      margin: .5rem 0;
      margin: 0;
      padding: 0;
      display: block;
      li {
        width: 100%;
        display: block;
        background: rgba(64, 64, 64, .1);
        padding: 0;
      }
      ul {
        li {
          background: none;
          padding: 0;
        }
      }
    }
    a {
      padding: 1rem;
      color: @contrast;
      display: block;
    }
    a:link,
    a:visited {
      color: @contrast;
    }
    a.active:link,
    a.active:visited {
      color: @gray;
      background: lighten(@contrast, 35%);
    }
  }
}
main {
  background: white;
  margin: 1rem;
  box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .1);
  padding: 1rem;
  position: absolute;
  right: 1rem;
  width: 65%;
  img {
    border: solid 1px rgba(64, 64, 64, .1);
    border-radius: 4px;
    box-shadow: 1px 1px 3px @gray;
    width: 90%;
    margin: 0 auto;
    max-width: 50rem;
    display: block;
  }
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms;
}
.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:30%;
}
.view-animate.ng-leave.ng-leave-active {
  right:-100%;
}

.section {
  text-align: right;
  color: lighten(@gray, 50%);
}

h1, h2, h3, h4, h5, h6 {
  color: @primary;
  font-weight: normal;
}

h1 {
  img {
    border: none;
    height: 4rem;
    display: inline;
    width: auto;
    box-shadow: none;
  }
}

p, ul, li {
  line-height: 1.5rem;
}

a, a:link, a:visited {
  color: @contrast;
  text-decoration: none;
}
a:hover, a:focus {
  color: darken(@contrast, 20%);
}

sr-only {
  position: relative;
  display: block;
  margin-left: -9999rem;
  margin-top: -9999rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a.fireside {
  background-image: url('/app/images/fireside-gray.svg');
  height: 1.2rem;
  width: 1.2rem;
  margin-bottom: -.1rem;
  vertical-align: baseline;
  display: inline-block;
  background-size: cover;
  &:hover {
    background-image: url('/app/images/fireside-blue.svg');
  }
}

.guide-through {
  margin-top: 1rem;
  a {
    display: inline-block;
    border: solid 1px @gray;
    padding: 1rem;
    border-radius: 4px;
    color: @gray;
    text-decoration: none;
  }
  a:after, a:before {
    font-family: 'fontawesome';
  }
  a.previous {
    float: left;
    text-align: left;
    &:before {
      content: '\f060';
      margin-right: .5rem;
    }
  }
  a.next {
    float: right;
    text-align: right;
    &:after {
      content: '\f061';
      margin-left: .5rem;
    }
  }
  a:focus,
  a:hover {
    border-color: @contrast;
    color: @contrast;
  }
}

nav {
  padding-bottom: .5rem;
  box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .1);
  background: white;
  margin-bottom: 1rem;
  img {
    width: 1.75rem;
    vertical-align: text-bottom;
    margin-right: .25rem;
  }
  li {
    list-style-type: none;
    padding: 0 .75rem;
  }
  li:first-child {
    padding-left: 0;
  }
  ul {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
    padding-left: 0;
  }
}

nav, footer {
  a, a:link, a:visited {
    color: gray;
    text-decoration: none;
  }
  a:hover,
  a:focus,
  a.active {
    color: @contrast;
  }
}

footer {
  margin-top: 1rem;
  padding-top: .25rem;
  border-top: solid 1px rgba(64, 64, 64, .1);
  img {
    height: 1.25rem;
    vertical-align: middle;
    margin-top: -.3rem;
  }
  div:first-child {
    float:left;
    font-size: .75rem;
    img {
      vertical-align: text-bottom;
      margin-right: .25rem;
    }
  }
  div:last-child {
    float: right;
    font-size: 1.25rem;
    i {
      margin-left: .25rem;
    }
  }
}

pre {
  background: @editor;
  border-radius: 4px;
  padding: 1rem;
  overflow-x: auto;
  color: @editorText;
  font-family: 'Montserrat', monospace;
}
code {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5rem;
}
pre.console {
  background: rgba(64, 64, 64, .87);
}

.home > div {
  background: rgba(64, 64, 64, .075);
  padding: 1.5rem;
  border-radius: 6px;
  font-size: 1.25rem;
  p {
    line-height: 2rem;
  }
  a {
    display: block;
    width: 8rem;
    text-align: center;
    border: solid 1px @gray;
    padding: 1rem;
    border-radius: 4px;
    color: @gray;
    text-decoration: none;
    background: white;
    margin: 0 auto;
  }
  a:focus,
  a:hover {
    border-color: @contrast;
    color: @contrast;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .columns,
  .gettingStarted > div,
  .real-time-chats,
  .security,
  .private-messages,
  .deploy-to-firebase-hosting,
  .challenges-images,
  .challenges-cordova,
  .firebase-storage
  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0rem -1rem 1rem;;
    & > * {
      padding: 0 1rem;
      width: 50%;
    }
    & > p {
      display: block;
    }
    img {
      padding: 0;
      margin: 0;
    }
  }
  .columns {
    & > * {
      max-width: 30%;
    }
    & > div {
      align-items: stretch;
    }
  }
}

.dark {
  background: @editor;
  margin: -1rem;
  padding: 1rem;
  border-radius: 4px;
  h1, h2 {
    color: @editorText;
  }
  pre {
    background: none;
    color: white;
    border: none;
  }
  .guide-through {
    background: @editorText;
    padding: 1rem;
    margin: -1rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.finish {
  h1, h2 {
    text-align: center;
  }
  h2 {
    color: lighten(@gray, 35%);
  }
  h3 {
    margin-bottom: 0;
  }
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
