<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>

<div class="firebase-storage">
  <div>
    <p>Upload and share user generated content, such as images and video</p>
    <p>data is stored in a Google Cloud Storage bucket</p>
    <p>Separate component of firebase API
      <ul>
        <li>firebase.storage()</li>
        <li>Rules are managed separately</li>
      </ul>
    </p>
  </div>
  <div>
    <div>
      <pre><code>var storage = firebase.storage().ref();</code></pre>
    </div>
  </div>
</div>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p><b>MAM Say:</b> Firebase storage allows you to easily and securely upload and serve files such as images and video</p>
  <p>The data is stored in a Google cloud storage bucket  - an exabyte scale object storage solution (or one billion gigabytes) with high availability and global redundancy. ( Did anyone else recently have an issue with the aws s3 outage? )</p>
  <p>The example shows how you can create a reference to your storage bucket and begin accessing it from your app.</p>
  <p><b>Notes:</b> Then add the storageBucketattribute to your config Object:</p>
</div>
