<footer>
  <div>Copyright &copy; 3xM Studio {{vm.year}}</div>
  <div>
    <a class="fireside" href="https://app.playingwithfire.live"></a>
    <a href="https://github.com/Mx3-Studio/fireside/" aria-label="github"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://playingwithfirelive.slack.com/" aria-label="slack"><i class="fa fa-slack" aria-hidden="true"></i></a>
  </div>
</footer>
<!-- live relead -->
<script ng-if="window.location.host === 'localhost:8080'" src="//localhost:9091"></script>
