<footer>
  <div><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a> Copyright &copy; 3xM Studio {{vm.year}}</div>
  <div>
    <a class="fireside" href="https://app.playingwithfire.live" aria-label="fireside" target="_blank"></a>
    <a href="https://github.com/Mx3-Studio/fireside/" aria-label="github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://playingwithfirelive.slack.com/" aria-label="slack" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a>
  </div>
</footer>
