<nav>
    <ul>
        <li>
            <button type="button" ng-click="vm.isExpanded('introduction')" ng-class="{'active': vm.introduction}">
              Introduction
              <i class="fa" ng-class="{'fa-angle-up': vm.introduction, 'fa-angle-down': !vm.introduction}"></i>
            </button>
        </li>
        <ul id="introduction">
            <li><a ui-sref="resources" ui-sref-active="active">Resources</a></li>
            <li><a ui-sref="firebase" ui-sref-active="active">What is Firebase?</a></li>
            <li><a ui-sref="firebaseUse" ui-sref-active="active">Who uses Firebase?</a></li>
            <li><a ui-sref="goals" ui-sref-active="active">Workshop Goals</a></li>
            <li><a ui-sref="whoWeAre" ui-sref-active="active">Who We Are</a></li>
        </ul>
        <li>
            <button type="button" ng-click="vm.isExpanded('systemSetup')" ng-class="{'active': vm.systemSetup}">
              System Setup
              <i class="fa" ng-class="{'fa-angle-up': vm.systemSetup, 'fa-angle-down': !vm.systemSetup}"></i>
            </button>
        </li>
        <ul id="systemSetup">
            <li><a ui-sref="systemSetup" ui-sref-active="active">&lt;/&gt; Install Prerequisites</a></li>
            <li><a ui-sref="systemSetup2" ui-sref-active="active">&lt;/&gt; Install &amp; Test Starter App</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('gettingStarted')" ng-class="{'active': vm.gettingStarted}">
            Getting Started
            <i class="fa" ng-class="{'fa-angle-up': vm.gettingStarted, 'fa-angle-down': !vm.gettingStarted}"></i>
          </button>
        </li>
        <ul id="gettingStarted">
          <li><a ui-sref="firebaseConsole" ui-sref-active="active">Firebase Console</a></li>
          <li><a ui-sref="gettingStarted" ui-sref-active="active">&lt;/&gt; Setup Firebase Console Account</a></li>
          <li><a ui-sref="gettingStarted2" ui-sref-active="active">&lt;/&gt; Load Starter Database</a></li>
          <li><a ui-sref="firebaseAPI" ui-sref-active="active">Firebase API</a></li>
          <li><a ui-sref="gettingStarted3" ui-sref-active="active">&lt;/&gt; Configure App Initialization</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('realTimeChat')" ng-class="{'active': vm.realTimeChat}">
            Real Time Chat
            <i class="fa" ng-class="{'fa-angle-up': vm.realTimeChat, 'fa-angle-down': !vm.realTimeChat}"></i>
          </button>
        </li>
        <ul id="realTimeChat">
          <li><a ui-sref="readingData" ui-sref-active="active">Reading Data</a></li>
          <li><a ui-sref="advancedRead" ui-sref-active="active">Advanced Read</a></li>
          <li><a ui-sref="displayMessages" ui-sref-active="active">&lt;/&gt; Display Messages</a></li>
          <li><a ui-sref="push" ui-sref-active="active">Push</a></li>
          <li><a ui-sref="set" ui-sref-active="active">Set</a></li>
          <li><a ui-sref="update" ui-sref-active="active">Update</a></li>
          <li><a ui-sref="advancedWriteUpdate" ui-sref-active="active">Advanced Write - Update</a></li>
          <li><a ui-sref="createMessages" ui-sref-active="active">&lt;/&gt; Create Messages</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('cliAndHosting')" ng-class="{'active': vm.cliAndHosting}">
            Firebase CLI &amp; Hosting
            <i class="fa" ng-class="{'fa-angle-up': vm.cliAndHosting, 'fa-angle-down': !vm.cliAndHosting}"></i>
          </button>
        </li>
        <ul id="cliAndHosting">
          <li><a ui-sref="firebaseCli" ui-sref-active="active">Firebase CLI</a></li>
          <li><a ui-sref="deployToFirebaseHosting" ui-sref-active="active">&lt;/&gt; Deploy to Firebase Hosting</a></li>
          <li><a ui-sref="firebaseHosting" ui-sref-active="active">Firebase Hosting</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('authAndSecurity')" ng-class="{'active': vm.authAndSecurity}">
            Authentication &amp; Security
            <i class="fa" ng-class="{'fa-angle-up': vm.authAndSecurity, 'fa-angle-down': !vm.authAndSecurity}"></i>
          </button>
        </li>
        <ul id="authAndSecurity">
          <li><a ui-sref="firebaseAuthentication" ui-sref-active="active">Firebase Authentication</a></li>
          <li><a ui-sref="addingAuthentication" ui-sref-active="active">&lt;/&gt; Adding Authentication</a></li>
          <li><a ui-sref="userProfile" ui-sref-active="active">User Profiles</a></li>
          <li><a ui-sref="addingUserProfile" ui-sref-active="active">&lt;/&gt; Adding User Profiles</a></li>
          <li><a ui-sref="authorization" ui-sref-active="active">Authorization</a></li>
          <li><a ui-sref="addingAuthorization" ui-sref-active="active">&lt;/&gt; Adding Authorization</a></li>
          <li><a ui-sref="databaseSecurity" ui-sref-active="active">Database Security</a></li>
          <li><a ui-sref="addingDatabaseSecurity" ui-sref-active="active">&lt;/&gt; Adding Database Security</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('privateChat')" ng-class="{'active': vm.privateChat}">
            Private Chat
            <i class="fa" ng-class="{'fa-angle-up': vm.privateChat, 'fa-angle-down': !vm.privateChat}"></i>
          </button>
        </li>
        <ul id="privateChat">
          <li><a ui-sref="firebaseQuery" ui-sref-active="active">Firebase Query</a></li>
          <li><a ui-sref="privateChatSearch" ui-sref-active="active">&lt;/&gt; Private Chat Search</a></li>
          <li><a ui-sref="advancedReadWatch" ui-sref-active="active">Advanced Read - $watch()</a></li>
          <li><a ui-sref="privateChatMessages" ui-sref-active="active">&lt;/&gt; Private Chat Messages</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('firebaseStorage')" ng-class="{'active': vm.firebaseStorage}">
            Firebase Storage
            <i class="fa" ng-class="{'fa-angle-up': vm.firebaseStorage, 'fa-angle-down': !vm.firebaseStorage}"></i>
          </button>
        </li>
        <ul id="firebaseStorage">
          <li><a ui-sref="firebaseStorage" ui-sref-active="active">Firebase Storage</a></li>
          <li><a ui-sref="firebaseStorageRead" ui-sref-active="active">Read</a></li>
          <li><a ui-sref="firebaseStorageWrite" ui-sref-active="active">Write</a></li>
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('challenges')" ng-class="{'active': vm.challenges}">
            Challenges
            <i class="fa" ng-class="{'fa-angle-up': vm.challenges, 'fa-angle-down': !vm.challenges}"></i>
          </button>
        </li>
        <ul id="challenges">
          <li><a ui-sref="addImageToChat" ui-sref-active="active">&lt;/&gt; Add Images to Chat</a></li>
          <!--<li><a ui-sref="deployToCordova" ui-sref-active="active">&lt;/&gt; Deploy With Cordova</a></li>-->
        </ul>
        <li>
          <button type="button" ng-click="vm.isExpanded('closingRemarks')" ng-class="{'active': vm.closingRemarks}">
            Closing Remarks
            <i class="fa" ng-class="{'fa-angle-up': vm.closingRemarks, 'fa-angle-down': !vm.closingRemarks}"></i>
          </button>
        </li>
        <ul id="closingRemarks">
          <li><a ui-sref="otherFirebaseFeatures" ui-sref-active="active">Other Firebase Features</a></li>
          <li><a ui-sref="finish" ui-sref-active="active">Finish</a></li>
        </ul>
    </ul>
</nav>
