<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>
<h2>Success Criteria</h2>
<p>See list of friends</p>
<p>Search for new friends by email address</p>
<div class="gettingStarted">
  <div>
    <div>
      <h2>Introduction</h2>
      <p>Update the searchUsers method in FriendsController to search for a profile with an email address matching the submitted value - /profiles</p>
      <p>Update the ChatController to get a private chat thread when a friend parameter is used - /users/{myUserId}/chats/{friendId}</p>
      <h2>Hints</h2>
      <p>Firebase query - <a href="https://firebase.google.com/docs/reference/js/firebase.database.Query" target="_blank">Firebase Database Query</a></p>
      <p>Create a firebase Query from a Reference - <a href="https://firebase.google.com/docs/reference/js/firebase.database.Reference#orderByChild" target="_blank">Firebase Database Reference</a></p>
      <h2>QA</h2>
      <p>Now run the application and visit <a href="http://localhost:8080/#/friends" target="_blank">http://localhost:8080/#/friends</a> after logging in.</p>
      <p>You should now be able to search for "michael@dowden.us" and see a result. Click on this friend and you can chat with them. Now when you return to the friends page you should see your friend show up automatically (since you have already chatted with him).</p>
    </div>
    <div>
      <pre><code>var db = firebase.database().ref();
query = 'user@email.com';

db.child('profiles')
.orderByChild('email')
.equalTo(query));</code></pre>
    </div>
  </div>
</div>
<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p><b>MAM Say:</b> We are going to be writing a firebase query in the searchUsers() method to return a user searched email address and display it in the friends view.</p>
  <p><b>MAM Ask:</b> Does anyone have any questions?</p>
  <p><b>Finished query:</b> vm.searchResults = $firebaseArray(FirebaseRef.db.child('profiles').orderByChild('email').equalTo(email));</p>

  <p><b>Full API:</b></p>
  <p>Sort</p>
  <ul>
    <li>orderByChild(): Order results by the value of a specified child key.</li>
    <li>orderByKey(): Order results by child keys.</li>
    <li>orderByValue(): Order results by child values.</li>
  </ul>

  <p>Filter</p>
  <ul>
    <li>limitToFirst(): Sets the maximum number of items to return from the beginning of the ordered list of results.</li>
    <li>limitToLast(): Sets the maximum number of items to return from the end of the ordered list of results.</li>
    <li>startAt(): Return items greater than or equal to the specified key or value, depending on the order-by method chosen.</li>
    <li>endAt(): Return items less than or equal to the specified key or value, depending on the order-by method chosen.</li>
    <li>equalTo(): Return items equal to the specified key or value, depending on the order-by method chosen.</li>
  </ul>

  <p>Query Methods:</p>
  <ul>
    <li>endAt(): Creates a Query with the specific ending point.</li>
    <li>equalTo(): Creates a Query that includes children that match a specified value.</li>
    <li>isEqual(): Returns whether or not the current and provided query represent the same location, have the same query parameters, and are from the same instance of firebase.app.App</li>
    <li>limitToFirst(): Generates a new Query limited to the first specific number of children.</li>
    <li>limitToLast():  Generates a new Query object limited to the last specific number of children.</li>
    <li>off(): Detaches a callback previously attached with on().</li>
    <li>on(): Listens for data changes at a particular location.</li>
    <li>once(): Listens for exactly one event of the specified event type, and then stops listening.</li>
    <li>orderByChild():  Generates a new Query object ordered by the specified child key.</li>
    <li>orderByKey(): Generates a new Query object ordered by key. Sorts the results of a query by their (ascending) key values.</li>
    <li>orderByPriority: Generates a new Query object ordered by priority.</li>
    <li>orderByValue: Generates a new Query object ordered by value.</li>
    <li>startAt: Creates a Query with the specified starting point.</li>
    <li>toJSON: Returns a JSON-serializable representation of this object.</li>
    <li>toString: Gets the absolute URL for this location.</li>
  </ul>
</div>
