
<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<div class="firebaseConsole">
  <div>
    <img src="app/images/screenshots/screenshot-console.firebase.google.com 2017-02-17 20-49-14.png" alt="Screenshot of Firebase Console">
  </div>
</div>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>Transition: Now, let’s take your first look at Firebase by discussing their admin console.</p>
  <p>The Firebase Console provides a convenient place for you to manage your account, including Database, Storage, Security Rules, Authentication, Hosting, and more.</p>
  <p>DEMO:</p>
  <ul>
    <li>Creating a new account</li>
    <li>Viewing your account configuration snippet</li>
    <li>Authentication: Users and Providers (point out OAuth Redirect Domains)</li>
    <li>Database: Data, Rules, and Usage</li>
    <li>Storage: Files and Rules</li>
    <li>Hosting: Domains, Release History, Usage</li>
    <li>Permissions / IAM</li>
  </ul>
</div>
