
<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>
  <div class="gettingStarted">
    <div>
      <div><img src="app/images/screenshots/create-new-project.png" alt=""></div>
      <div>
        <p>Login to <a href="https://console.firebase.google.com" target="_blank">https://console.firebase.google.com</a> using your Google account.</p>
        <p>Click <strong>Create New Project</strong></p>
      </div>
    </div>

    <div>
      <div><img src="app/images/screenshots/give-it-the-name-fireside.png" alt=""></div>
      <p>...and give it the name "Fireside"</p>
    </div>

</div>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>
