<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>

<div class="gettingStarted">
  <div>
    <div><img src="app/images/screenshots/database2.png" alt=""></div>
    <div>
      <p>Click Database</p>
      <p>Click the ellipsis (three dots) and select Import JSON. Select the "starter-database.json" file from your Fireside project folder and click Import.</p>
    </div>
  </div>

  <div>
    <div><img src="app/images/screenshots/database.png" alt=""></div>
    <div>
      <p>Open the new Fireside project</p>
      <p>Click Database then Rules</p>
    </div>
  </div>

  <div>
    <div><img src="app/images/screenshots/databse-rules.png" alt=""></div>
    <div>
      <p>For now change the rules to</p>
<code><pre>
{
  "rules": {
    ".read": true,
    ".write": true
  }
}
</pre></code>
      <p>Then click <strong>Publish</strong></p>
      <p>Note that you <strong>NEVER</strong> want to leave your permissions unrestricted like this, but we will fix this later in the workshop.</p>
    </div>
  </div>

</div>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>You’ll also need to prepare your database by loading the sample data provided and removing all security restrictions from your database. (The database instructions are on the next page on the website)</p>
  <p>NOTE: You don’t ever want to leave a database in this unrestricted state. We are doing this here so that we can introduce Firebase to you one step at a time. We will be correcting this security deficiency later in the workshop.</p>
</div>
