<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>
<div class="gettingStarted">
  <div>
    <div><img src="app/images/screenshots/overview.png" alt=""></div>
    <p>Click "Overview" then click the "Add Firebase to your web app" icon to view the configuration script.</p>
  </div>
  <div>
    <div><img src="app/images/screenshots/addFirebaseToWebApp.png" alt=""></div>
    <div>
      <p>Copy the configuration script, then open up the <dfn title="/src/client/app/services/firebase-ref.service.js">FirebaseRef</dfn> service in your Fireside project and add the initialization script you copied out of the Firebase Console. (TODO [START-1])</p>
      <p>You will also need to return the Database Reference from FirebaseRef as "db". (TODO [START-2])</p>
<code><pre>
firebase.database().ref();  
</pre></code>
      <p>Save the file, then run the project</p>
<code><pre class="console">
$ gulp serve-dev
</pre></code>
      <p><a href="http://localhost:8080/check" target="_blank">http://localhost:8080/check</a>
      <p>Page should load successfully with no errors in the Chrome Dev console and display the message <b>"You are connected to the database."</b></p>
    </div>
  </div>
</div>
<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>Transition: Now it’s time to get your Fireside Chat app connected to firebase.</p>
</div>
