<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>
<h2>Success Criteria</h2>
<p>Create new chat messages</p>
<div class="gettingStarted">
  <div>
    <div>
      <h2>Instructions</h2>
      <p>Modify the createChat function in ChatController to get a key for the new chat object - /chats/{chatId}</p>
      <p>Modify the createChat function to push the new chat to the chat thread by adding a path reference to the updates - /chats/{chatId}</p>
      <h2>Hints</h2>
      <p>Use the push method on the Reference to push a new object to Firebase and obtain the unique key</p>
      <p>Update multiple items at once: <a href="https://firebase.google.com/docs/database/web/read-and-write#updating_or_deleting_data">Updating or deleting data</a></p>
      <p>Chats contain the following attributes:
        <ul>
          <li>content: the chat message</li>
          <li>timestamp: the UTC string representing the moment the chat was created</li>
        </ul>
      </p>
      <h2>QA</h2>
      <p>Now run the application and visit <a href="http://localhost:8080/#/chats">http://localhost:8080/#/chats</a></p>
      <p>
        You should see all of the demo chats show up.
        <br>You should be able to submit new chats which show up in the chat stream immediately and automatically.
      </p>
    </div>
    <div>
<pre><code>function newMultiUpdate(content, uid) {
// Some content and a UID.
var data = {
  content: content,
  uid: uid
};

// Get a key for the new Muti Update.
var newUpdateKey = firebase.database().ref().child('chats').push().key;

// Write the data simultaneously to more than one location
var locations = {};
locations['/chats/' + newUpdateKey] = data;
locations['/users/' + uid + '/' + newUpdateKey] = data;

return firebase.database().ref().update(locations);
}</code></pre>
    </div>
  </div>
</div>


<div ng-include src="'/app/modules/core/components/buttons.html'"></div>
