<div class="dark">
  <div class="section">{{vm.section}}</div>
  <h1>{{vm.title}}</h1>
    <div class="gettingStarted">
      <div>
        <div>
          <h2>Javascript</h2>
          <pre><code>
    // reference to database root: /
    var db = firebase.database().ref();

    // reference to chats
    var chatsRef = db.child('/chats');

    // read
    chatsRef.child('-Kf9kfiG0rwnlB1gtquA')
    .once('value').then(function(snapshot) {
      var message = snapshot.val().content;
    });

    // read
    var data = $firebaseArray(chatsRef);
          </code></pre>
        </div>
        <div>
          <h2>Firebase Object</h2>
          <pre><code>
    Fireside-73c10 {
      "chats" : {
        "-Kf9kfiG0rwnlB1gtquA" : {
          "content" : "Hey",
          "displayName" : "Martine Dowden",
        }
      }
    }
          </code></pre>
        </div>
      </div>

  </div>

  <div ng-include src="'/app/modules/core/components/buttons.html'"></div>
</div>

<div class="notes">
  <p>Given the JSON data snippet on the right, the code on the left illustrates how to build a reference and read the data.</p>
  <p>In the first Read example we are using the Firebase API to read an object once, and do something with the results when returned. However, remember that Firebase is a real-time database. We could replace the method “once” with “on” and this code would run automatically anytime the data changed within the database.</p>
  <p>Using AngularFire we can maintain a perpetual list of data from the database using the $firebaseArray. Simply create an array at a specific reference and that “data” object will always contain the current list of chats found in the database. It will be updated in real-time without you writing another line of code.</p>
  <p>The $firebaseArray method consumes a database reference and returns a JavaScript array containing the objects at that location.</p>
</div>
