<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>

<p>Open your console / command shell and navigate to your workspace folder. For me this is Bash followed by</p>
<code><pre>$ cd ~/workspace</pre></code>

<p>Checkout the project</p>
<code><pre>
$ git clone https://github.com/Mx3-Studio/fireside.git
$ cd fireside
$ npm install
$ bower install
</pre></code>

<p>Test the project</p>
<code><pre>
$ gulp validate
$ gulp serve-dev
</pre></code>

<p>Preview the application - <a target="_blank" href="http://localhost:8080/">http://localhost:8080/</a></p>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>
