<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>

<div>
  <button ng-class="{active: vm.operatingSystem === 'mac'}" ng-click="vm.show('mac')">Mac</button>
  <button ng-class="{active: vm.operatingSystem === 'linux'}" ng-click="vm.show('linux')">Linux</button>
  <button ng-class="{active: vm.operatingSystem === 'windows'}" ng-click="vm.show('windows')">Windows</button>
</div>

  <section ng-if="vm.operatingSystem === 'mac'">
    <h2>Mac</h2>
    <p>You’ll need Homebrew, Node, &amp; NPM, and should probably have Gulp and Bower installed globally. You’ll need to be familiar with your command prompt at this point.</p>
    <p>Check to see if these are installed:</p>
<code><pre class="console">
# Homebrew
$ brew -v

# Git
$ git --version

# Node & npm
$ node -v
$ npm -v

# Gulp
$ gulp -v

# Bower
$ bower -v
</pre></code>
    <p>To install everything run the following</p>
<code><pre class="console">
$ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
$ brew install git
$ git config --global user.name "My Name"
$ git config --global user.email "myemail@gmail.com"
$ brew install node
$ npm install -g gulp bower
</pre></code>
  </section>

  <section ng-if="vm.operatingSystem === 'linux'">
    <h2>Linux</h2>
    <p>You’ll need Node &amp; NPM, and should probably have Gulp and Bower installed globally. You’ll need to be familiar with your command prompt at this point.</p>
    <p>Check to see if these are installed</p>
<code><pre class="console">
# Git
$ git --version

# Node & npm
$ node -v
$ npm -v

# Gulp
$ gulp -v

# Bower
$ bower -v
</pre></code>
    <p>To install git, node and npm run the following</p>
    <p>Debian / Ubuntu / Mint</p>
<code><pre class="console">
$ curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
$ sudo apt-get install -y nodejs
$ sudo apt-get install -y build-essential nodejs-legacy git-all
</pre></code>
<p>Fedora</p>
<code><pre>
$ yum install nodejs npm git-all
</pre></code>
    <p>Others</p>
    <ul>
      <li><a href="https://nodejs.org/en/download/package-manager/" target="_blank">Installing Node.js via package manager</a></li>
      <li><a href="https://git-scm.com/download/linux" target="_blank">Git: Download for Linux and Unix</a>
    </ul>
    <p>Then (everyone)</p>
<code><pre class="console">
# Configure Git
$ git config --global user.name "My Name"
$ git config --global user.email "myemail@gmail.com"

# Install NPM packages
$ npm install -g gulp bower
</pre></code>
  </section>

  <section ng-if="vm.operatingSystem === 'windows'">
    <h2>Windows</h2>
    <p>You’ll need Node &amp; NPM, and should probably have Gulp and Bower installed globally.</p>
    <ol>
      <li><a href="https://git-scm.com/download/win" target="_blank">Run git installer</a></li>
      <li><a href="https://nodejs.org/dist/v6.10.0/node-v6.10.0-x86.msi" target="_blank">Run node installer</a></li>
    </ol>
    <p>At this point you’ll need to open up Git Bash (or another bash client) to complete the following commands</p>
<code><pre class="console">
# Configure Git:
$ git config --global user.name "My Name"
$ git config --global user.email "myemail@gmail.com"

# Install the NPM packages:
$ npm install -g gulp bower
</pre></code>
  </section>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>
