<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>

<p>Open your console / command shell and navigate to your workspace folder. For me this is Bash followed by</p>
<code><pre class="console">$ cd ~/workspace</pre></code>

<p>Checkout the project</p>
<code><pre class="console">
$ git clone https://github.com/Mx3-Studio/fireside.git
$ cd fireside
$ npm install
$ bower install
</pre></code>

<p>Test the project</p>
<code><pre class="console">
$ gulp validate
$ gulp serve-dev
</pre></code>

<p>Preview the application - <a target="_blank" href="http://localhost:8080/">http://localhost:8080/</a></p>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>Transition: As mentioned, we have a base project ready for you to use so that we can focus on the Firebase component specifically, so let’s go ahead and set that up.</p>

  <p>Our Gulp configuration is heavily influenced by John Papa and we highly recommend his Pluralsight Course JavaScript Build Automation With Gulp.js</p>

  <p>The Pluralsight course Firebase Fundamentals by Joe Eames also deserves an honorable mention for helping us get started with database design in Firebase.</p>
</div>
