<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<ul>
  <li>Alibaba.com</li>
  <li>Duolingo</li>
  <li>Fabulous</li>
  <li>Glow</li>
  <li>kkBox</li>
  <li>Lyft</li>
  <li>NPR One</li>
  <li>Shazam</li>
  <li>Sky-scanner</li>
  <li>The New York Times</li>
  <li>Tune-in</li>
</ul>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <ul>
    <li>Alibaba.com - 6-month average of 190 million monthly visitors</li>
    <li>Duolingo - database is updated an average of 3,000 times per second</li>
    <li>Lyft - 13.9 million monthly rides</li>
    <li>Shazam - 100 million monthly mobile users</li>
  </ul>
</div>
