<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<ul>
  <li>Build real-time public chat application: Fireside Chat</li>
  <li>Firebase hosting and command-line interface</li>
  <li>Authenticate with OAuth</li>
  <li>User Search and Private Messaging</li>
  <li>Security controls on web, database, and storage</li>
  <li>Add image upload backed by Firebase Storage</li>
</ul>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
<p>Demo the Fireside Chat application from <a href="https://app.playingwithfire.live">https://app.playingwithfire.live</a></p>

<p>Demo the key features:</p>
<ul>
  <li>Authentication</li>
  <li>View chats</li>
  <li>Send Chats</li>
  <li>Hashtags</li>
  <li>List / Search Friends</li>
  <li>Private Messages</li>
  <li>Post images</li>
</div>
