<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<h2>Slack</h2>
<a target="_blank" href="https://playingwithfirelive.slack.com/messages/code-palousa-2017">https://playingwithfirelive.slack.com/messages/code-palousa-2017</a>
<h2>GitHub</h2>
<a target="_blank" href="https://github.com/Mx3-Studio/fireside/">https://github.com/Mx3-Studio/fireside/</a>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
<p>The Playing With Fire website contains detailed instructions for the various tasks presented throughout this workshop. You will need to follow along on the website as prompted.</p>

<p>We have a Slack channel dedicated to this conference. Feel free to join us there to ask questions, provide feedback, or share your completed projects.</p>

<p>And our GitHub repository contains the starter project that you will be completing as we proceed.</p>
</div>
