<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<p>
  <strong>Martine Dowden</strong> <a target="_blank" href="https://twitter.com/Martine_Dowden">@Martine_Dowden</a>
  <br><em>UX Engineer, Web Developer, Artist, Author</em>
  <br>Anchor Point / Mx3 Studio / M2D2 / Andromeda / Eleven Fifty
</p>

<p>
  <strong>Michael Dowden</strong> <a target="_blank" href="https://twitter.com/mrdowden">@mrdowden</a>
  <br><em>Software Architect, Entrepreneur, Speaker, Author</em>
  <br>CSpring / Mx3 Studio / M2D2 / Andromeda / Eleven Fifty
</p>

<p>
  <strong>Michael McGinnis</strong> <a target="_blank" href="https://twitter.com/mybrokenwalls">@mybrokenwalls</a>
  <br><em>Software Engineer, Mobile Developer, Musician</em>
  <br>CSpring / Mx3 Studio / Andromeda
</p>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>
