<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<p>
  <strong>Martine Dowden</strong> <a target="_blank" href="https://twitter.com/Martine_Dowden">@Martine_Dowden</a>
  <br><em>UX Engineer, Web Developer, Artist, Author</em>
  <br>Anchor Point / Mx3 Studio / M2D2 / Andromeda / Eleven Fifty
</p>

<p>
  <strong>Michael Dowden</strong> <a target="_blank" href="https://twitter.com/mrdowden">@mrdowden</a>
  <br><em>Software Architect, Entrepreneur, Speaker, Author</em>
  <br>CSpring / Mx3 Studio / M2D2 / Andromeda / Eleven Fifty
</p>

<p>
  <strong>Michael McGinnis</strong> <a target="_blank" href="https://twitter.com/mybrokenwalls">@mybrokenwalls</a>
  <br><em>Software Engineer, Mobile Developer, Musician</em>
  <br>CSpring / Mx3 Studio / Andromeda
</p>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>Martine Dowden is a member of Mx3 Studio, UX Tech Lead at TCC, Design instructor at Eleven Fifty Academy, and founder of multiple startups. She has 12 years experience in a combination of Art, Design, User Experience, Development, Consulting, and Education.</p>

  <p>Michael Dowden is a member of Mx3 Studio, Principal Consultant &amp; Software Architecture Lead at CSpring, Java &amp; JavaScript instructor at Eleven Fifty Academy, and founder of multiple startups. He has 25 years experience in Software development, architecture, usability, security, consulting, and education.</p>

  <p>Martine &amp; Michael are the authors of Programming Languages ABC++ a children’s book about programming languages.</p>

  <p>Michael McGinnis is a member of Mx3 Studio, Lead Mobile App Developer at CSpring, and involved with multiple startups. He has 8 years experience in Software development, mobile applications, audio recording, and music production.</p>

  <p>The three of us have been working together for 3 years, and have been working with Firebase professionally for a year, since before the Google acquisition.</p>
</div>
