<div class="dark">
  <div class="section">{{vm.section}}</div>
  <h1>{{vm.title}}</h1>
  <div class="gettingStarted">
    <div>
      <div>
<pre><code>
{ "rules": {
  "check": {
    ".read": true,
    ".write": false
  },
  "users": {
    "$user_id": {
      ".read": "$user_id === auth.uid",
      ".write": false,
      "profile": { ".read": true }
    }
  }
}
</code></pre>
      </div>
      <div>
<pre><code>
{
  "check": {
    "status": "You are connected to the database"
  },
  "users": {
    "3gtKgnNf1GbkVRaxnUmAPY1" : {
      "profile": {
        "name": "John Doe"
      }
    }
  }
}
</code></pre>
    </div>
  </div>
</div>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>
