<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<div class="gettingStarted">
  <div>
    <div>
      <p>Firebase API currentUser property may be null if authentication is not yet complete (won’t automatically update)</p>
      <p>AngularFire $getAuth synchronously retrieves the current authentication state of the client.</p>
      <p>AngularFire $firebaseObject retrieves a single object from the given reference (instead of an array like $firebaseArray)</p>
    </div>
    <div>
    <pre><code>var db = firebase.database().ref();
var auth = firebase.auth();

// Current user from Firebase API
var currentUser = auth.currentUser;

// Retrieve the User Auth
var user = $firebaseAuth()
  .$getAuth();

// Load a user profile
var ref = db
  .child('/users').child(user.uid);
var profile = $firebaseObject(ref);</code></pre>
    </div>
  </div>
</div>
<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>The AngularFire $getAuth is significantly more convenient than the Firebase API currentUser since it is guaranteed to resolve the User.</p>
  <p>Use of AngularFire methods relieve much of the pain involved in integrating Firebase authentication and authorization into an Angular JS application.</p>
  <p>Just like $firebaseArray, the $firebaseObject method consumes a database reference and returns the object, but in this case it’s a single data object rather than a JavaScript Array.</p>
</div>
