<div class="section">{{vm.section}}</div>
<h1><img src="/app/images/doStuffIcon.svg" alt="action">{{vm.title}}</h1>
<h2>Success Criteria</h2>
<p>Installed Firebase CLI tools</p>
<p>Connect to Fireside through public Firebase URL</p>

<div class="deploy-to-firebase-hosting">
  <div>
    <h2>Instructions</h2>
    <ol>
      <li>Install the firebase CLI tools</li>
      <li>Initialize the project to create your firebase.json file: $ firebase init</li>
      <li>Login to Firebase using the CLI: $ firebase login</li>
      <li>Copy your database Rules from the Firebase database console to your database.rules.json file</li>
      <li>Run the project build using Firebase: $ gulp build && firebase serve</li>
      <li>Test the project <a href="http://localhost:8080/" target="_blank">http://localhost:8080/</a></li>
      <li>Deploy the project: $ firebase deploy</li>
      <li>Open up the Hosting tab on your Firebase console to see the deployment history</li>
      <li>Click the Domain shortcut to launch the app on your public website</li>
      <li>Paste the URL to your app in the Slack channel</li>
    </ol>
  </div>
  <div>
    <h2>Hints</h2>
    <ul>
      <li>Learn more about the Firebase CLI - <a href="https://firebase.google.com/docs/cli/" target="_blank">https://firebase.google.com/docs/cli/</a></li>
      <li>Install: $ npm install -g firebase-tools</li>
      <li>Deploying to Firebase using the CLI will replace the database rules loaded in firebase with the ones you have saved in your local database.rules.json file, so be sure this file is up-to-date.</li>
    </ul>
  </div>
</div>
<h2>QA</h2>
<p>Run the app on Firebase using your project prefix in the form of https://{project-prefix}.firebaseapp.com/</p>
<p>For example, our project is available at <a href="https://fireside-73c10.firebaseapp.com/" target="_blank">https://fireside-73c10.firebaseapp.com/</a></p>
<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>The Firebase CLI</p>
  <ul>
    <li>Login</li>
    <li>List</li>
    <li>Use</li>
    <li>Deploy</li>
  </ul>
  <p>The database.rules.json file</p>
  <p>The firebase.json file</p>
</div>
