<div class="section">{{vm.section}}</div>
<h1>{{vm.title}}</h1>
<ul>
  <li><strong>init</strong> to create the firebase.json and database.rules.json configuration files</li>
  <li><strong>login</strong> to establish a session (may also <strong>logout</strong>)</li>
  <li><strong>list</strong> and <strong>use</strong> to manage active project</li>
  <li><strong>serve</strong> to run locally and <strong>deploy</strong> to push to public server</li>
  <li>May import and export user accounts</li>
  <li>Manipulate the database, including updates and queries</li>
  <li>Allows script support for your maintenance and operations</li>
</ul>

<div ng-include src="'/app/modules/core/components/buttons.html'"></div>

<div class="notes">
  <p>The database.rules.json file should contain an exact copy of the database Rules you have configured within the Firebase Console. Having these rules as part of your project is great because it allows you to version rules changes, and to include rules with the code updates that may necessitate the changes within your source control. However if you develop a workflow of entering rules using the Simulator in the Console it is it is also easy to end up deploying an update the blows away your rules causing hours of frustration.</p>
</div>
